p {
    text-decoration: underline;
}
ul {text-decoration: underline;
}
body{
    background-color: aliceblue;
}
#presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
#presentacion > h1 {
    font-size: 70px;
}
#presentacion > h3 {
    font-size: 40px;
    font-style: oblique;
}
#Curriculum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
}
#Curriculum > h1 {
    font-size: 40px;
}
.Curriculum > li {
    font-size: 30px;
}
.trabajosEnClase {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: aqua;
}
button{
    border-style: hidden;
    background-color: lightcoral;
    width: 20%;
    border-radius: 30px;
    padding: 3px 20px 3px;
    border-style: solid;
    margin: 25px;
}
