* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* lista de navegacion */
header{
    display: flex;
    align-items: start;
    padding: 1rem;
    background-color: aquamarine;
}
.listadenavegacion {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.listadenavegacion > li a {
    color: black;
    font-size: 30px;
    text-decoration: none;
    font-family: Arial;
    
}
.abrir {
    display: none;
}
.cerrar {
    display: none;
}
@media screen and (max-width: 500px) {
    .abrir {
        display: block;
        border: 0;
        font-size: 1.25cm;
        background-color: transparent;
        cursor: pointer;
    }
    .abrir{
        color: white;
    }
    .cerrar{
        color: black;
    }
    .cerrar{
        display: block;
        border: 0;
        font-size: 1.25cm;
        background-color: transparent;
        cursor: pointer;
    }
    .nav {
        opacity: 0;
        visibility: hidden;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 0;
        left: 0;
        background-color: aquamarine;
        padding: 1rem;
        bottom: 0;
        gap: 1rem;
    }
    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .listadenavegacion {
        flex-direction: column;
        align-items: end;
        

    }

}



/* transportes */


@media (max-width: 30.625em) {
    .presentacion {
    padding: 6rem 1rem;
}
.presentacion {
    grid-template-columns: 1fr;
    }
}
@media (max-width: 30.625em) {
    .clases {
    padding: 6rem 1rem;
}
.clases {
    grid-template-columns: 1fr;
    }
}
@media (max-width: 30.625em) {
    .contacto {
    padding: 6rem 1rem;
}
.contacto {
    grid-template-columns: 1fr;
    }
}


/* aca arranca la presentacion */


#presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
}
#presentacion > h1 {
    font-size: 70px;
}
#presentacion > h3 {
    font-size: 40px;
    font-style: oblique;
}


/* trabajos en clase */


.clases {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: azure;
}
.clases > h1 {
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}


    /* parte final */

    
#contacto {
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
}
#contacto > h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    padding-bottom: 200px;
    padding-top: 30px;
}

.contactarse{
    align-items: center;
    list-style-type: none;
    display: flex;
    gap: 2rem;
    justify-content: center;
    padding: 0%;
    font-size: 40px;
}

/* carrusel */
#contenedor {
    height: 400px;
    overflow: hidden;
}

.item-carrusel {
    height: 400px;
    position: relative;
}

.tarjetascarrusel {
    height: 100%;
}

.flechas-carrusel {
    height: 100%;
    top: 0;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}



#tarjeta1 {
    background-color: black;
}
#tarjeta2 {
    background-color: aqua;
}
#tarjeta3 {
    background-color: blue;
}

a {
    text-decoration: none;
}